<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/3/3f/Placeholder_view_vector.svg"
      alt="image placeholder"
    />
  </div>
  <div class="big-card__title">
    <h1>
      <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a>
    </h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#"
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quae
        vitae nam est ducimus, nihil delectus iure quaerat cum hic, eligendi
        eius facere doloremque nesciunt omnis dolore nostrum ullam
        laudantium.</a
      >
    </p>
  </div>
</div>
