<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://upload.wikimedia.org/wikipedia/commons/3/3f/Placeholder_view_vector.svg"
      cardTitle="Lorem ipsum dolor sit, amet consectetur adipisicing elit."
      cardDescription="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias recusandae, repellendus enim quibusdam quis voluptas, consequuntur id ratione repellat iure ea. Qui dolores voluptates error dignissimos blanditiis distinctio sequi quisquam."
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      photoCover="https://upload.wikimedia.org/wikipedia/commons/3/3f/Placeholder_view_vector.svg"
      cardTitle="Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis quisquam dolore quasi, dolorum aut quos deserunt magni et accusantium neque, repellendus laboriosam perferendis sapiente?"
    ></app-small-card>
    <hr />
    <app-small-card
      photoCover="https://upload.wikimedia.org/wikipedia/commons/3/3f/Placeholder_view_vector.svg"
      cardTitle="Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis quisquam dolore quasi, dolorum aut quos deserunt magni et accusantium neque, repellendus laboriosam perferendis sapiente?"
    ></app-small-card>
    <hr />
    <app-small-card
      photoCover="https://upload.wikimedia.org/wikipedia/commons/3/3f/Placeholder_view_vector.svg"
      cardTitle="Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis quisquam dolore quasi, dolorum aut quos deserunt magni et accusantium neque, repellendus laboriosam perferendis sapiente?"
    ></app-small-card>
  </div>
</div>
